i.fa-solid.fa-circle-minus:hover {
  color: indianred;
}
i.fa-solid.fa-thumbs-up {
  color: cornflowerblue;
}

i.fa-solid.fa-thumbs-up:hover {
  color: blue;
}

i.fa-solid.fa-thumbs-down {
  color: burlywood;
}

i.fa-solid.fa-thumbs-down:hover {
  color: sandybrown;
}
